*{  
	margin:0;
	padding:0;
	box-sizing: border-box;
	list-style: none;
}
body{
 background: #141e30; 
 background: linear-gradient(to right, #141e30, #243b55);
}
h1{
	text-align: center;
	color: antiquewhite;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin-top: 50px;
	font-size: 35px;
animation: color-change 1s infinite;
	animation-duration: 6s;;}
@keyframes color-change {
	0% { color:lightgray; }
  50% { color:gold; }
  100% { color:lightgray; }
}
h2{
	text-align: center;
	font-size:40px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color:goldenrod;
	outline-color: black;
	margin-top: 60px;
	margin-bottom: 15px;
}
.imgs{
	align-content: center;
	margin: 10px 175px;
	background:#FFFFFF;
	align-items: center;
}
.imgs img{
	width: 230px;
	padding: 5px;
	transition: 0.5s;
	
}.imgs img:hover{
	transform: scale(1.05);
}